<!--The content below is only a placeholder and can be replaced.-->
<!doctype html>
<html lang="en">
<head>
  <!doctype html>
  <title>ANURAG ENGINEERING COLLEGE</title>
  <section>
  
  <header>
  
  <div class="top">
  <img style="float:left;" src="201.jfif">
  
  <h1 style="margin-left:250px;">ANURAG ENGINEERING COLLEGE&nbsp
  <h3 style="margin-left:250px;">(Kodad(mandal),&nbsp Ananthagiri(village),&nbsp Pbno:508206,&nbsp phone:9493522304</h3>
  <h3 style="margin-left:250px;">Afflicated by NBA , refered by jntu-hyd</h3>
  <h3 style="margin-left:250px;">EAMCET CODE:C1<h3>
  <div class="scroll"><marquee scrollamount = 10 direction =right  onmouseover=this.stop() 
  onmouseout=this.start()><b>_/\_WELCOME *New batches are starting on 01-june-2018* WELCOME_/\_<b>
  </h1><br>
  </marquee>
  </div><br>
  <div class="navbar">
    <a href="#home" title="clik here">Home</a>
    <a href="#news" title="clik here">About us</a>
    <div class="dropdown">
      
    <button class="dropbtn"><b>Courses</b> 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#" title="clik here">ECE</a>
        <a href="#" title="clik here">CSE</a>
        <a href="#" title="clik here">MECHANICAL</a>
      <a href="#" title="clik here">CIVIL</a>
      <a href="#" title="clik here">POLYTECHNIC</a>
      <a href="#" title="clik here">PHARMACY</a>
      </div>
    </div> 
  </div>
  
  </div><br>
  
  </header>
  
  </head>
  <form>
  
  <body>
  <div class="slide" style="width:1300px; margin-left:8px;">
    <img class="mySlides" style="width:1300px; height:400px; margin-left:8px;" src="anrk3.png">
    <img class="mySlides" style="width:1300px; height:400px; margin-left:8px;" src="anrk14.jpg">
    <img class="mySlides" style="width:1300px; height:400px; margin-left:8px;" src="anrk10.jpg">
  </div>
  <script>
  var myIndex = 0;
  carousel();
  
  function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";  
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}    
      x[myIndex-1].style.display = "block";  
      setTimeout(carousel, 2000); // Change image every 2 seconds
  }
  </script>
  <h1 style="color:#0000b3;"><u>Welcome to Anurag Engineering College:</u></h1>
  <p  style="color:#0000b3;">Anurag Engineering College is established in 2001 and is reputed
  as one of the most preferred college for engineering education within short time. The 
  college has created a resourceful and inspiring academic ambience and world class 
  infrastructure. The college is Private Self Financing Institution. The College is approved
  by AICTE, New Delhi. The College is permanently affiliated to Jawaharlal Nehru 
  Technological University, Hyderabad (JNTUH). TEQIP granted College.  An UGC Autonomous 
  Institution.</p>
  <br><br>
  
  <p style="color:#0000b3;">Nigama Educational Society is established in 2007 with an aim of creating a world class 
  institution for engineering education. The Society comprises of an inspiring team of 
  reputed educationists, academicians, industrialists and entrepreneurs whose valuable 
  knowledge and experience stand as the pillars of support for the institution.
  
  The Chairman of the Society Mr. Ch. Devender Reddy is an engineer, who has established 
  more than 40 higher educational institutions in Warangal, Karimnagar and Ranga Reddy 
  districts of Andhra Pradesh.
  
  The Secretary and Correspondent Dr. P. Rajeshwar Reddy is a Doctorate in Physics and is an
  eminent educationist. He is instrumental in establishing more than 10 Colleges offering 
  Engineering, MBA, MCA, Pharmacy, Education and other programmes in Andhra Pradesh.</p>
  <footer>
     &copy; By Vamshi Krishna Jukuri.
  </footer>
  </section>
  </html>
  
  <app-root></app-root>
</body>
</html>
